 /* Custom Styles for Netflix-like theme */
 body {
  margin-top: -50px;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.bg-gradient {
  background: linear-gradient(to bottom, #141414, #181818);
}

.text-primary {
  color: #e50914;
}

.hover\:bg-primary:hover {
  background-color: #e50914;
}

.hover\:bg-primary-dark:hover {
  background-color: #b81b1b;
}

.btn {
  transition: background-color 0.3s ease;
}

.transition-opacity {
  transition: opacity 0.5s ease;
}

.hidden {
  display: none;
}

.max-w-logo {
  width: 100%;
  height: auto;
  max-width: 120px;
}

.card {
  background-color: #181818;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
  padding: 20px;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.8);
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.table-container {
  max-height: 450px;
  overflow-y: auto;
}

.table-hover tbody tr:hover {
  background-color: #2e2e2e;
}